/* line 1, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/forms.scss */
.login-field {
  width: 75%;
  margin: auto;
}

/* line 6, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/forms.scss */
.new_petition input, textarea {
  width: 460px;
  margin-left: 0;
}

/* line 11, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/forms.scss */
.new-petition-title {
  letter-spacing: 1.6px;
  text-align: center;
}
