/*
  Color Variables
*/
/*
  Breakpoint Variables
*/
/* line 4, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
#clear-picture {
  width: 150px;
  height: 35px;
  text-align: center;
  color: white;
  letter-spacing: 1.5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  font-weight: 300;
  text-transform: uppercase;
  border: 0;
  margin-top: 25px;
  background-color: #328fd6;
  display: block;
}
@media (max-width: 375px) {
  /* line 4, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
  #clear-picture {
    margin: 15px auto;
  }
}

/* line 23, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.wrapper-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
}

/* line 32, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.header-edit {
  margin: 25px 0;
}

/* line 37, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.image-edit-wrapper .img-circle {
  margin: auto;
}

/* line 42, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
#file-upload-edit {
  display: none;
}

/* line 46, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
#profile-pic-preview {
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  padding: 15px;
}

/* line 52, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.profile-preview {
  margin: auto;
  display: block;
  height: 150px;
}

/* line 58, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.image-links-container {
  margin-top: 25px;
  height: 35px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1.6px;
}
/* line 65, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.image-links-container span {
  color: #000120;
  font-weight: bolder;
}
/* line 70, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.image-links-container a {
  border-bottom: 2px solid #328fd6;
  color: #328fd6;
}
/* line 75, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.image-links-container a:hover {
  text-decoration: none;
}

/* line 80, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.hide {
  display: none;
}

/* line 85, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.form-edit {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 93, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.form-edit form {
  width: 70%;
}
@media (max-width: 375px) {
  /* line 93, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
  .form-edit form {
    width: 90%;
  }
}
/* line 100, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.form-edit form .field {
  width: 100%;
}
/* line 103, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.form-edit form .field input, .form-edit form .field textarea {
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  border: solid 1px #c8c8c8;
  color: #c8c8c8;
}
/* line 110, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.form-edit form .field input:focus, .form-edit form .field textarea:focus {
  border: solid 1px #328fd6;
}
/* line 114, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.form-edit form .field textarea {
  min-height: 100px;
}
/* line 119, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.form-edit form .actions {
  margin-top: 25px;
}

/* line 125, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.edit-button {
  width: 150px;
  height: 35px;
  text-align: center;
  display: inline-block;
  color: white;
  letter-spacing: 1.5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  font-weight: 400;
  text-transform: uppercase;
  border: 0;
  margin: 5px;
  background-color: #328fd6;
}

/* line 141, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.prof-icon {
  position: relative;
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

/* line 149, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.profile-description {
  width: 100%;
  position: relative;
  clear: both;
}

/* line 155, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.profile-info {
  text-align: left;
  font-size: 22px;
}

/* line 160, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.profile-values {
  font-size: 18px;
}

/* line 164, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.profile-wrapper {
  padding-top: 35px;
  margin: 10px auto;
  width: 50%;
  height: 400px;
  text-align: center;
}

/* line 172, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* line 178, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  left: auto;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  margin-top: 50px;
  z-index: 1;
}
@media (max-width: 768px) {
  /* line 178, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
  .dropdown-content {
    left: 0;
    right: auto;
  }
}

/* line 195, /Users/oozgur/Desktop/bruinspeak/app/assets/stylesheets/users.scss */
.dropdown-content.selected {
  display: block;
}
