<div class="tag">
    <img src="/assets/victory_badge.png">
</div>
<img src="http://cdn.modernfarmer.com/wp-content/uploads/2014/12/squirrel.jpg">
<div class="carousel-content">
  <p>Pauley Pavilion: Let's remodel our stadium</p>
  <p>Katie Luangkote</p>
  <p>Lorem ipsum dolor sit amet, pri case vero dignissim an. Quem civibus no qui.
      Nam nisl debitis ancillae ut. Usu in velit incorrupte, nullam iudicabit eos an.
      Assum regione recteque at sed, dicam quidam id usu. Dicat soluta antiopam in duo.
      Est an ullum pertinax, ne est labores offendit. Vis ei clita praesent, meis veritus
      disputationi vel at. Nec ludus omnium copiosae at, no malorum constituam...</p>
  <a href="#">Read More</a>
  <div class="carousel-bottom">
    <ul class="petition-stats-carousel">
      <li>
        <div class="stats-value">100</div>
        <span class="stats-label">signed</span>
      </li>
      <li>
        <div class="stats-value">50</div>
        <span class="stats-label">needed</span>
      </li>
      <li>
        <div class="stats-value">2</div>
        <span class="stats-label">days remaining</span>
      </li>
    </ul>
  </div>
</div>
