<footer class="footer navbar-fixed-bottom">

    <div class="container-fluid">

        <div class="row">

            <div class="pull-left">

                <div class="copyright">
                    <div class="container_row">
                        <li class="footer-stack footer-logo"><%= link_to root_path do %>

                            BRUIN<span id="speak">SPEAK<span>
                                <% end %>
                            </li>
                        </div>
                        <div class="container_row">
                            <li class="footer-stack">    © 2017</li>
                        </div>
                    </div>

                </div>

                <div class="pull-right">

                    <ul class="list-inline footer-right-elements">
                        <li><%= link_to "About", about_path %></li>
                        <li><%= link_to "Contact", contact_path %></li>
                        <li><%= link_to "Terms & Conditions", terms_path %></li>
                    </ul>

                </div>

            </div>

        </div>
    </footer>
