<div id="push"></div>
<footer class="footer navbar-fixed-bottom">
    <div class="container-fluid">
        <nav>
            <ul>
                <li>
                  <%= link_to root_path do %>
                  BRUIN<span>SPEAK<span>
                  <% end %>
                </li>
                <li><%= link_to "Contact", "#"%></li>
                <li><%= link_to "Terms and Conditions", "#"%></li>
                <li><%= link_to "Privacy", "#"%></li>
            </ul>
        </nav>
    </div>
</footer>
