<div class="card">
  <div>
    <a href="#"><img class="petition-img" src=http://cdn.modernfarmer.com/wp-content/uploads/2014/12/squirrel.jpg alt="Avatar"></a>
    <img class="like-button" src="/assets/heart.png" alt="Like">
  </div>
  <div class="container">
    <a class="petition-title" href="#">Petition for Squirrels</a>
    <p class="petition-author">Katie Luangkote</p>
    <p class="petition-desc">Description of stuff. Blah blah blah. selktjasetoiwsat. wtahoaIhwoitah. ASISeiotha.
      sdflkjsdlkfjdslkfjsdlfkj sdlkjfselfjwesoitj eiot hoieathawoiuth wailuthawiluth wael wuiathawlsietuhwailtuh weiat
      wehtliauwetyhw siuolhweat.</p>
  </div>
  <div class="container bottom">
    <ul class="petition-stats">
      <li>
        <div class="stats-value">100</div>
        <span>signed</span>
      </li>
      <li>
        <div class="stats-value">50</div>
        <span>needed</span>
      </li>
      <li>
        <div class="stats-value">2</div>
        <span>days remaining</span>
      </li>
    </ul>
  </div>
</div>
