<div class="contact-background">
  <img src="/assets/royce_icon.png">
</div>
<div class="contact-us">
  <h1>Contact Us</h1>
  <p><a href="mailto:bruinspeakucla@gmail.com" target="_top">bruinspeakucla@gmail.com</a></p>
</div>
