<div class="contact-background">
  <%= image_tag "royce_icon.png", class: "carousel-arrow" %>
</div>
<div class="contact-us">
  <h1>Contact Us</h1>
  <p><a href="mailto:bruinspeakucla@gmail.com" target="_top">bruinspeakucla@gmail.com</a></p>
</div>
