<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Abel|Open+Sans|Source+Sans+Pro" %>

<div class="center-info">
  <h1>UCLA's platform for change</h1>
  <h2>12,342 students are taking action.</h2>
  <h2 style="color:#cc0000">Victories every day.</h2>
  <%= link_to "START PETITION", new_petition_path, :class => "button" %>
</div>
<% count = 0 %>
<ul style="list-style-type=none">
<% @petitions.each do |petition| %>
  <% if count % 4 == 0 && count != 0 %>
    </ul>
    <ul style="list-style-type=none">
  <% end %>
  <li>
    <%= render 'shared/post', petition: petition %>
  </li>
  <% count = count + 1 %>
<% end %>
</ul>
