<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Abel|Open+Sans|Source+Sans+Pro" %>
<div class="center-info">
  <h1>UCLA's platform for change</h1>
  <h2>12,342 students are taking action.</h2>
  <h2 style="color:#cc0000">Victories every day.</h2>
  <a href="#" class="button">START PETITION</a>
</div>
<%= render partial: 'shared/post' %>
