/*
  Color Variables
*/
$bruinspeak_blue: #328fd6;
$bruinspeak_black: #000120;
$bruinspeak_green: #32d690;
$bruinspeak_red: #d63e32;
$bruinspeak_gray: #c8c8c8;


/*
  Breakpoint Variables
*/
$break-small: 375px;
$break-med: 600px;
$break-large: 1200px;
$break-xl: 1920px;
