 @import "font-awesome-sprockets";
 @import "font-awesome";

 @import "_variables";
 @import "bootstraply";
 @import "footer";
 @import "forms";
 @import "navbar";
 @import "pages";
 @import "petitions";
 @import "signatures";
 @import "users";

* {
  box-sizing: border-box;
}

 html, body {
   font-family: 'Open Sans', sans-serif;
 }

html {
  padding-bottom: 60px;
 }
