@import "variables";

@media (max-width: 697px){
    .pull-right
    {
        display: none;
    }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  font-size: 16px;
  padding-top: 3%;
  z-index: 1;

  @media (max-width: $break-med) {
    bottom: 110px;
  }
}

.copyright {
    padding-left: 10px;
}

.footer-right-elements {
  li {
    margin-left: 10px;
    margin-right: 10px;
  }

  a {
    color: #000120;
    font-family: $bruinspeak_open_sans;
  }
}

.footer-logo{
    padding-top: 10px;
    font-family: $bruinspeak_open_sans;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.footer-stack {
    line-height: 20px;
}

.pull-left {
    margin-left: 2%;
}

.pull-right {
    margin-right: 2%;
}
