@media (max-width: 448px){
    .footer-right-elements
    {
        display: none;
    }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  font-size: 16px;
  padding-top: 1%;
}

.copyright {
    padding-left: 10px;
}

.footer-right-elements {
  li {
    margin-left: 10px;
    margin-right: 10px;
  }

  a {
    color: #19172A;
  }
}

.footer-logo{
    padding-top: 10px;
    font-size: 22px;
    font-weight: bold;
}

.footer-stack {
    line-height: 20px;
}

.pull-left {
    margin-left: 1%;
}

.pull-right {
    margin-right: 1%;
}
