.btn-nav:hover {
    background-color: white;
}
.navbar-right {
    font-size: 16px;
}


.navbar-center {
    font-size: 23px;
    font-weight: bold;
    margin-left: 25px;
}

.nav-pills > li > a
{
    font-size: 18px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus
{
    color: #2695dc;
    background-color: white;
}

.nav-pills .active {
    text-decoration: underline;
}

#nav-x-btn {
    margin-left: 0px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-custom {
    background-color:white;
    color:#19172A;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#19172A;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
}

.navbar-custom .navbar-brand {
    color:#19172A;
}

.navbar-dynam-content {
    padding-top: 13px;
}

.nav-regularbar {
    display: block;
}

.nav-searchbar {
    display: none;
}

.navbar-brand-styling {
  display: inline-flex; /* make element size relative to content */
  align-items: center; /* vertical alignment of contents */
  line-height: 40px; /* control height with line-height or padding */
  padding: 0px 10px; /* horizontal with padding-l/r */
}

@media (min-width: 902px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

.navbar-form {
    padding-left: 0px;
}


.navbar-collapse form[role="search"] {
    // position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 0;
}
.navbar-collapse form[role="search"] button,
.navbar-collapse form[role="search"] input {
    padding: 8px 12px;
    border-radius: 0px;
    border-width: 0px;
    box-shadow: none;
    outline: none;
}


.navbar-collapse form[role="search"] input {
    padding: 16px 12px;
    font-size: 14pt;
    font-style: italic;
    box-shadow: none;
}
.navbar-collapse form[role="search"] button[type="reset"] {
    display: none;
}

@media (min-width: 902px) {
    .navbar-collapse {
        padding-top: 0px !important;
        padding-right: 38px !important;
    }
    .navbar-collapse form[role="search"] button,
    .navbar-collapse form[role="search"] input {
        padding: 15px 12px;
    }
    .navbar-collapse form[role="search"] input {
        font-size: 18pt;
        opacity: 0;
        display: none;
        height: 50px;
    }
    .navbar-collapse form[role="search"].active {
        width: 100%;
    }
    .navbar-collapse form[role="search"].active button,
    .navbar-collapse form[role="search"].active input {
        display: table-cell;
        opacity: 1;
    }
    .navbar-collapse form[role="search"].active input {
        width: 100%;
    }
}

#search-form {
    display: none;
}

.navbar-collapse {
    position: relative;
    padding-top: 30px !important;
    max-height: 270px;
}
.navbar-collapse form[role="search"] {
    // position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 0;
}
.navbar-collapse form[role="search"] button,
.navbar-collapse form[role="search"] input {
    padding: 8px 12px;
    border-radius: 0px;
    border-width: 0px;
    box-shadow: none;
    outline: none;
}
.navbar-collapse form[role="search"] input {
    padding: 16px 12px;
    font-size: 14pt;
    font-style: italic;
    box-shadow: none;
}

@media (min-width: 902px) {
    .navbar-collapse {
        padding-top: 0px !important;
        // padding-right: 11% !important;
    }
    .navbar-collapse form[role="search"] {
        width: 110px;
    }
    .navbar-collapse form[role="search"] button,
    .navbar-collapse form[role="search"] input {
        padding: 15px 12px;
    }
    .navbar-collapse form[role="search"] input {
        padding: 25px 12px;
        font-size: 18pt;
        opacity: 0;
        display: none;
    }
    .navbar-collapse form[role="search"].active {
        width: 100%;
    }
    .navbar-collapse form[role="search"].active button,
    .navbar-collapse form[role="search"].active input {
        display: table-cell;
        opacity: 1;
    }
    .navbar-collapse form[role="search"].active input {
        width: 100%;
    }
}


#nav-search-span{
    width: 1%;
}

.nav-input-group {
    width: 100%;
    margin-left: 10px;
}

@media (min-width: 902px)
    {
    .navbar-right {
        margin-right: -30px;
    }
}


@media (max-width: 902px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-center {
        margin-left: 0px;
    }
    #nav-user {
        padding-left: 14px;
    }
}

.nav-prof{
    width: 40px;
    height: 40px;
    padding-top: 11%
}

.navbar-brand{
    font-size: 16px;
}


#topbar {
    font-family: 'Open Sans', sans-serif;
}
