// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

div {
  position: relative;
}

h2 {
  margin: 0;
}

li {
  display: block;
  padding-right: 5px;
  float: left;
}

span {
    color: #248DD9;
}

ul {
  list-style-type: none;
}

.alert {
    text-align: center;
}

.board-members {
  margin: 0;
}

.board-members a {
  color: #328FD6;
}

.bottom-petition-text {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 18px
}

.button {
  background-color: #0099cc;
  border-radius: 10px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  font-family: 'Abel', serif;
  letter-spacing: 3px;
}

.btn {
    width: 180px;
    height: 100px;
    // object-fit: contain;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 323px;
  height: 440px;
  border-radius: 5px;
  position: relative;
  margin: auto;
  margin-bottom: 40px;
  margin-right: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.center-info {
  text-align: center;
  margin: auto;
  margin-bottom: 60px;
  display: block;
  height: 320px;
  width: 50%;
  padding-top: 50px;
  background-size: 100% 320px;
  background-image: url("/assets/royce.jpg");
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
}

.container {
  padding: 10px;
  position: relative;
}

.container.bottom {
  position: absolute;
  width: inherit;
  bottom: 0;
}

.explore-button {
    margin: 13px;
}

.explore-top{
    background-image: none;
    width: 100%;
    height: inherit;
}

.leftNav, .rightNav {
    font-size: 18px;
}

.sign-icon {
  float: right;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.midNav {
    font-size: 25px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-custom {
    background-color:white;
    color:#19172A;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#19172A;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
}

.navbar-custom .navbar-brand {
    color:#19172A;
}

.notice {
    text-align: center;
}

.pet-container {
  margin-bottom: inherit;
}

.pet-container div {
  display: inline-block;
}

.pet-content {
  margin-left: 50px;
  margin-bottom: inherit;
  width: 50%;
  float: left;
}

.pet-img-container {
   border: 1px solid #DDDDDD;
   width: 700px;
   height: 400px;
}

.petition-author {
  margin: 0;
  font-size: 16px;
}

.petition-img {
  height: 176px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.petition-desc {
  font-size: 13px;
}

.petition-page-author {
  font-size: 20px;
  margin-top: 0;
  width: 320px;
  float: left;
}

.petition-page-author p {
  margin-top: 0;
}

.petition-page-title {
  font-size: 25px;
  text-align: center;
  width: 500px;
  overflow: auto;
  margin: auto;
  margin-bottom: 50px;
}

.petition-page-title div {
  display: inline-block;
}

.petition-stats {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.petition-stats li:last-child {
  float: right;
}

.petition-title {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
  color: inherit;
  text-decoration: none;
}

.petition-ul {
    bottom: 50px;
    position: relative;
}

.pls {
  display: inline-flex; /* make element size relative to content */
  align-items: center; /* vertical alignment of contents */
  line-height: 40px; /* control height with line-height or padding */
  padding: 0px 10px; /* horizontal with padding-l/r */
}

.profile-icon {
  width: 130px;
  padding-right: 0;
  padding-bottom: 20px;
  float: left;
}

.picture {
  width: 50px;
  height: 50px;
  float: right;
}

.share-card {
  margin-left: 50px;
  width: 325px;
  height: 450px;
  box-shadow: 0 4px 8px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  position: relative;
}

.share-container {
  float: right;
  width: 35%;
}

.share-icon {
  width: 25px;
  height:25px;
}

.share-title {
  padding-top: 20px;
  padding-left: 20px;
  font-weight: bold;
}

.stats-label {
  color: black;
}

.stats-value {
  font-weight: bold;
  font-size: 14px;
}

.tag {
   float: left;
   position: absolute;
   left: -15px;
   top: -15px;
   border-radius: 5px;
}

@media (min-width: 768px) {
    .container {
        width: 323px;
    }

}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

//footer
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
    border-top: 1px solid #e7e7e7;
    font-size: 16px;
}

.copyright {
    padding-left: 10px;
}

.footer-right-elements a{
    color: #19172A;
}

.footer-logo{
    padding-top: 10px;
}

.footer-padding {
}


.footer-stack {
    line-height: 20px;
}

.copyright a {
    color: #19172A;

}
