@import "bootstraply";
@import "footer";
@import "forms";
@import "navbar";
@import "petitions";
@import "signatures";
@import "users";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  box-sizing: border-box;
}

 html, body {
   font-family: 'Open Sans', sans-serif;
 }

html {
  padding-bottom: 60px;
 }

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

div {
  position: relative;
}

h2 {
  margin: 0;
}

li {
  display: block;
  padding-right: 5px;
  float: left;
}

ul {
  list-style-type: none;
}

.alert {
    text-align: center;
}

.board-members {
  margin: 0;
}

.board-members a {
  color: #328FD6;
}

.bottom-petition-text {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 18px
}


.button {
  background-color: #0099cc;
  border-radius: 5px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-family: 'Abel', serif;
  letter-spacing: 3px;
  box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.2);
}

.btn {
    width: 180px;
    height: 100px;
}

@media (min-width: 992px) {
  .col-md-1-5 { width: 20%; }
  .col-md-2-5 { width: 40%; }
  .col-md-3-5 { width: 60%; }
  .col-md-4-5 { width: 80%; }
  .col-md-5-5 { width: 100%; }
}

@media (min-width: 1200px) {
  .col-lg-1-5 { width: 20%; }
  .col-lg-2-5 { width: 40%; }
  .col-lg-3-5 { width: 60%; }
  .col-lg-4-5 { width: 80%; }
  .col-lg-5-5 { width: 100%; }
}


.show-grid [class^=col-] span,
.container-fluid .show-grid [class^=col-] {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  text-align: center;
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

[class^=col-] {
  margin-bottom: 30px;
}

.card {
  box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 350px;
  height: 500px;
  border-radius: 5px;
  position: relative;
  margin: 15px;

  @media all and (max-width: $break-small) {
    width: 90%;
  }

  .petition-stats-wrapper {
    display: inline-flex;
    width: 100%;
    position: absolute;
    bottom: 10px;

    @media all and (max-width: $break-med) {
      display: flex;
      flex-direction: column;
    }
  }

  .petiton-stat-img {
    display: inline;
    margin: auto;
  }

  .petition-stats-col {
    width: 50%;
    display: inline-flex;
  }

  .petition-stat-stack {
    margin: auto;

    div {
      color: $bruinspeak_black;
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.card-list {
  margin-right: 10px;
}

#petition-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  @media all and (max-width: $break-med) {
    flex-direction: column;
  }
}

.card:hover {
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
}

.carousel-bottom {
  bottom: 0;
  position: absolute;
  margin-bottom: 20px;
}

.carousel-content {
  text-align: left;
  height: 400px;
  float: left;
  padding: 30px;
  padding-right: 36px;
  width: 50%;
}

.carousel-content-title {
  font-size: 33px;
  font-weight: bold;
  line-height: 120%;
  color: black;
}

.carousel-content-author {
  font-size: 23px;
  font-style: italic;
  font-weight: normal;
  color: grey;
  margin-bottom: 20px;
  line-height: 120%;
}

.carousel-content-desc {
  font-size: 16px;
  font-weight: normal;
  display: inline;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  width: 50px;
}

.carousel-inner {
  width: 1000px;
  height: 400px;
  margin: auto;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position: absolute;
  bottom: 0;
  right: 0;
}

.carousel-inner > .item > a > img {
  height: 400px;
  width: 50%;
  float: left;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.carousel.slide {
  width: 1000px;
  height: 380px;
  margin: auto;
  padding: 1em;

}

.center-info {
  text-align: center;
  margin: auto;
  margin-bottom: 60px;
  display: block;
  max-height: 700px;
  max-width: 1200px;
  padding-top: 50px;
  background-size: 70% 250px;
  background-position: top;
  background-image: url("/assets/royce_icon.png");
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
}

.circle {
    border-radius:50%;
    position:absolute;
    z-index: -1;
}

.comments-header {
  position: relative;
  clear: both;
  border-bottom: 1px solid #CCCCCC;
  margin-left: 15px;
  margin-bottom: 10px;
}

.comments-container {
  position: relative;
  clear: both;
  margin-left: 10px;

  p {
    margin-bottom: 0px;
  }

  .comment-nav {
    margin-left: 5px;
    margin-bottom: 10px;

    a {
      font-size: 10px;
      font-weight: bold;
      color: #888;
    }
  }
}

.reply-form {
  display: none;
}

.comment-reply {
  font-size: 10px;
  color: blue;
  cursor: pointer;
}

.comment {
  margin-left: 25px;
}

#container {
    width:500px;
    height:200px;
    position:relative;
}

.col-half-offset {
    margin-left:4.166666667%;
}

.home-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
}

.home-subtitle {
  font-size: 25px;
  margin-bottom: 0;
}

.home-subtitle--victories {
  color: #c30002;
}

.center-info span {
  font-size: 25px;
}

.con {
  padding: 10px;
  position: relative;
  height: 175px;
}

.con.bottom {
  position: absolute;
  width: inherit;
  bottom: 0;
}

#edit-profile-btn {
    background-color: #138CD9;
    color: #F3F9FD;
    margin-left: 0px;
    margin: 3%;
    width: 170px;
    height: 50px;
}

#explore-button {
    width: 160px;
    height: 89px;
    margin-bottom: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    outline: none;
    border-radius: 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

#explore-buttons-grid {
    margin-top: 2%;
}

#explore-top{
    background-image: url("/assets/colorful_circles.png");
    background-size: contain;
    height: inherit;
    width: 80%;
}

#explore-top span {
    font-size: 20px;
    color: black;
}


.sign-icon {
  float: right;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.notice {
    text-align: center;
}

.pages-tabs
{
    width: 100%;
    margin: auto;
}

.pet-container {
  margin-bottom: inherit;
}

.pet-container div {
  display: inline-block;
}

.pet-content {
  margin-left: 50px;
  margin-bottom: inherit;
  width: 50%;
  float: left;
}

.pet-img-container {
   border: 1px solid #DDDDDD;
   width: 700px;
   height: 400px;
}

.petition-author {
  margin: 0;
  font-size: 16px;
  color: $bruinspeak_black;
  letter-spacing: 1.7px;
}

.petition-img {
  height: 225px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.petition-desc {
  font-size: 14px;
  margin-top: 10px;
}

.petition-page-author {
  font-size: 20px;
  margin-top: 0;
  width: 320px;
  float: left;
}

.petition-page-author p {
  margin-top: 0;
}

.petition-page-title {
  font-size: 25px;
  text-align: center;
  width: 500px;
  overflow: auto;
  margin: auto;
  margin-bottom: 50px;
}

.petition-page-title div {
  display: inline-block;
}

.petition-stats {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.petition-stats li:last-child {
  float: right;
}

.petition-stats-carousel {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
}

.petition-stats-carousel span {
  font-size: 16px;
  padding-left: 0;
}

.petition-title {
  margin: 0;
  font-weight: bold;
  letter-spacing: 1.7px;
  font-size: 22px;
  color: $bruinspeak_black;
  text-decoration: none;
}



.profile-icon {
  width: 130px;
  padding-right: 0;
  padding-bottom: 20px;
  float: left;
}

.prof-name {
    font-weight: bold;
    font-size: 40px;
}

.prof-sub {
    font-weight: bold;
    font-size: 20px;
}


.reply {
  cursor: pointer;
}

.search-title {
  width: 100%;
  margin-bottom: 10px;

  h1 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.search-results {
  margin: 0 auto;
  width: 95%;
}

.search-users {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 0 auto;

  p {
    margin-bottom: 17px;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
  }

  li {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.search-user-card {
  height: 70px;
  width: 200px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
  border-radius: 5px;
}

.search-user-icon {
  position: relative;
  float: left;
  margin-top: 15px;
  margin-left: 15px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.search-user-name {
  position: relative;
  float: left;
  margin-top: 25px;
  margin-left: 15px;
  height: 100%;
}

.search-petitions {
  position: relative;
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
  }
}

#speak {
  color: #328FD6;
}

.stats-value {
  font-weight: bold;
  font-size: 14px;
}

.tag-carousel {
  position: absolute;
  z-index: 1;
  border-radius: 5px;
}

html {
  position: relative;
  min-height: 100%;
}

.copyright a {
    color: #19172A;
}

input, textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

#infinite-scrolling {
  position: relative;
  clear: both;
  float: left;
}

#start-pet-btn{
     box-shadow: 2px 2px 5px #888888;
}

@media (max-width: 768px){
    .brand-small-view {
    display: inline-flex !important;
    }

    .brand-large-view {
    display: none !important;
    }
    .carousel {
        display: none;
    }
}


@media(max-width: 787px){
    #explore-buttons-grid{
        display: none;
    }
}
