// Place all the styles related to the Petitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

progress[value] {
  width: 250px;
  margin-left: 20px;
  margin-right: 20px;
}

.board-members {
  margin: 0;
}

.board-members a {
  color: #328FD6;
}

.bottom-petition-text {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 18px
}

.btn {
  height: auto;
  width: auto;
  margin-left: 50px;
}

.new_comment {
  margin-bottom: 10px;
  width: 890px;
  margin-left: 15px;
}

.new_comment textarea {
  margin-bottom: 10px;
}

.new_comment input {
  margin-left: 0;
  margin-bottom: 10px;
}

.new_signature input {
  margin-top: 5px;
  margin-left: 20px;
  width: 30%;
  background-color: #328FD6;
}

.pet-container {
  margin-bottom: inherit;
}

.pet-container div {
  display: inline-block;
}

.pet-content {
  margin-left: 50px;
  margin-bottom: inherit;
  width: 50%;
  float: left;
}

.pet-img-container {
   border: 1px solid #DDDDDD;
   width: 700px;
   height: 450px;
}

.petition-page-author {
  font-size: 30px;
  letter-spacing: 1.6px;
  color: #000120;
  margin-top: 0;
  width: 320px;
  float: left;
}

.petition-page-author p {
  margin-top: 0;
}

.petition-page-header {
  text-align: center;
  width: 766px;
  overflow: auto;
  margin: auto;
  margin-bottom: 50px;
}

.petition-page-header h1 {
  overflow: hidden;
  margin-bottom: 0;
}

.petition-page-header div {
  display: inline-block;
}

.petition-page-title {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 1.6px;
  color: #000120;
  margin-bottom: 15px;
}

.profile-icon {
  width: 200px;
  padding-right: 0;
  padding-bottom: 20px;
  float: left;
  margin-left: 65px;
}

.picture {
  width: 50px;
  height: 50px;
  float: right;
}

.share-card {
  margin-left: 10px;
  width: 325px;
  height: 550px;
  box-shadow: 0 4px 8px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  position: relative;
}

.share-container {
  width: 35%;
}

.share-facebook {
  width: 90%;
  margin-left: 20px;
  margin-top: 10px;
}

.share-icon {
  width: 25px;
  height: 25px;
}

.share-title {
  padding-top: 20px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1px;
}

.sign-icon {
  float: right;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.tag {
   position: absolute;
   left: -15px;
   top: -15px;
   border-radius: 5px;
}

.write-box {
  width: 290px;
  height: 50%;
  margin-left: 20px;
  padding: 5px;
}
