// Place all the styles related to the Petitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

progress[value] {
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
}

.board-members {
  margin: 0;
}

.board-members a {
  color: #328FD6;
}

.bottom-petition-text {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 18px
}

.btn {
  height: auto;
  width: auto;
  // margin-left: 50px;
}

.comment_admin_tag {
  height: 26px;
  width: 45px;
}

.comment_gov_tag {
  height: 26px;
  width: 71px;
}

.download-signatures {
  padding-top: 50px;
  width: 50%;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;

  .dl-sigs {
    border: none;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
  }
}

.new_comment {
  width: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  display: inline;

  input {
    margin-top: 10px;
    margin-left: 0px;
  }
}

.new_signature {
  height: 60%;

  input {
    margin-top: 5px;
    margin-left: 20px;
    width: 30%;
    background-color: #328FD6;
  }
}

// .pet-div{
//     // position: absolute;
// // top: 50%;
// // left: 50%;
// // margin-top: -170px;
// margin-left: -300px;
// }

.pet-container {
  margin-bottom: inherit;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 1500px;
  float: left;
}

.pet-content {
  margin-bottom: 50px;
  margin-left: 8%;
  float: left;
  max-width: 700px;
  display: inline-block;
}

.petition-create--wrapper {
  width: 60%;

  @media (max-width: $break-med) {
    width: 90%;
  }
}

.pet-img-container {
   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
   border: 0;
   width: 100%;
   margin-top: 4%;
}

.petition-desc {
  font-size: 16px;
  margin-top: 30px;
}

.petition-image {
  height: 100%;
  width: 100%;
  float: left;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.petition-page-author {
  width: auto;
  margin: 0 auto;

  a {
    text-align: center;
  }
}

.petition-page-author-name {
  font-size: 30px;
  letter-spacing: 1.6px;
  color: #000120;
  margin-top: 0;
  padding: 0px 20px;
  width: auto;
  float: left;
}

.petition-page-author-name p {
  margin-top: 0;
}

.petition-create--btn {
  height: auto;
  margin: auto;
  width: 19%;
  background-color: $bruinspeak_red;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px;
}

.petition-create--input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 3px;
  border: 1px solid $bruinspeak_gray;
  color: black;
  width: 100%;

  &:focus {
    border: 1px solid $bruinspeak_blue;
  }
}

.petition-create--input--recievers {
  width: 80%;
  display: inline;
}


.petition-desc {
    padding-top: 2%;
}

.petition-page-header {
  text-align: center;
  width: 75%;
  max-width: 1200px;
  overflow: auto;
  margin: auto;
  margin-bottom: 10px;
}

.petition-page-header h1 {
  overflow: hidden;
  margin-bottom: 0;
}

.petition-page-header div {
  display: inline-block;
}

.petition-page-title {
  width: 100%;
  margin-top: 30px;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 1.6px;
  color: #000120;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.profile-icon {
  padding-right: 0;
  padding-bottom: 20px;
  float: left;
}

.picture {
  width: 50px;
  height: 50px;
  float: right;
  object-fit: cover;
}

.share-card {
  margin-left: 100px;
  width: 325px;
  height: 550px;
  box-shadow: 0px 2px 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  position: relative;
}

.share-container {
  width: 40%;
 // margin-top: 500px;
}

.share-facebook {
  width: 90%;
  margin-left: 20px;
  margin-top: 10px;
}

.share-icon {
  width: 25px;
  height: 25px;
}

.share-title {
  padding-top: 20px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1px;
  margin-top: 4%;
}

.sign-icon {
  float: right;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.tag {
   position: absolute;
   left: -15px;
   top: -15px;
   border-radius: 5px;
   z-index: 10;
   box-shadow: 2px 2px 10px -2px rgba(0,0,0,.2);
}

.write-box {
  width: 290px;
  height: 50%;
  margin-left: 20px;
  padding: 5px;
}

@media (max-width: 1248px) {
   .share-container { float: left; }
   .share-card { margin-left: 50px; margin-bottom: 20px; }
}


.petition-notice-hidden {
  cursor: pointer;
  cursor: hand;
}

.loader {
    border-top: 4px solid $bruinspeak_blue;
    border-right: 4px solid $bruinspeak_green;
    border-bottom: 4px solid $bruinspeak_red;
    border-left: 4px solid $bruinspeak_gray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.status-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer
}

.status-dropdown-content {
  width: 200px;
  visibility: hidden;
  position: absolute;
  right: 0;
  right: auto;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;

  @media (max-width: 768px) {
    left: 0;
    right: auto;
  }
}

.status-dropdown-content.selected {
  visibility: visible;
  display: inline-grid;
}

.status-btn {
  margin-left: 0px;
  margin: 5px;
}

.petition-error {
  color: red;
  font-weight: bold;
  font-size: 18px;
}



.wrapper2{

	margin:0px auto;

	-webkit-box-shadow:rgba(0, 0, 0, 0.289063) 0 2px 3px;
  background-attachment:initial;
  background-clip:initial;
  background-color:#F0F1EE;
  background-image:initial;
  background-origin:initial;
  background-position:initial initial;
  background-repeat:initial initial;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  box-shadow:rgba(0, 0, 0, 0.289063) 0 2px 3px;
  position: relative;
  margin: 20px auto;

}

.wrapper{

	margin:0px auto;
	text-align: center;

	-webkit-box-shadow:rgba(0, 0, 0, 0.289063) 0 2px 3px;
  background-attachment:initial;
  background-clip:initial;
  background-color:#F0F1EE;
  background-image:initial;
  background-origin:initial;
  background-position:initial initial;
  background-repeat:initial initial;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  box-shadow:rgba(0, 0, 0, 0.289063) 0 2px 3px;
  position: relative;



}


/* MODIFIED */
.wrapper {
    position: absolute;
    left: 50%;
    margin-top: -30px;
    margin-left: -300px;
}
.wrapper2 {
    position: absolute;
    left: 50%;
    margin-top: 600px;
    margin-left: -300px;
}


@media (max-width: 768px) {
    .pet-div{
        margin-left: -300px;
    }
    .share-container{
        margin-top: 500px;
    }
    .pet-content{
        width: 46.71%;
    }
    .share-card{
        margin-left: 0px;
    }
}
