@import 'variables';


#clear-picture {
  width: 150px;
  height: 35px;
  text-align: center;
  color: white;
  letter-spacing: 1.5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  font-weight: 300;
  text-transform: uppercase;
  border: 0;
  margin-top: 25px;
  background-color: #328fd6;
  display: block;
  @media (max-width: $break-small) {
    margin: 15px auto;
  }
}

.wrapper-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
}

.header-edit {
  margin: 25px 0;
}

.image-edit-wrapper {
  .img-circle {
    margin: auto;
    object-fit: cover;
  }
}

#file-upload-edit {
  display: none;
}

#profile-pic-preview {
  border: 1px solid $bruinspeak_gray;
  border-radius: 5px;
  padding: 15px;
}

.profile-preview {
  margin: auto;
  display: block;
  height: 150px;
}

.image-links-container {
  margin-top: 25px;
  height: 35px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1.6px;

  span {
    color: $bruinspeak_black;
    font-weight: bolder;
  }

  a {
    border-bottom: 2px solid $bruinspeak_blue;
    color: $bruinspeak_blue;
  }

  a:hover {
    text-decoration: none;
  }
}

.hide {
  display: none;
}


.form-edit {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    width: 70%;
    max-width: 1000px;

    @media (max-width: $break-small) {
      width: 90%;
    }

    .field {
      width: 100%;

      input, textarea {
        padding: 10px;
        width: 100%;
        border-radius: 3px;
        border: solid 1px $bruinspeak_gray;
        color: black;
      }
      input:focus, textarea:focus {
        border: solid 1px $bruinspeak_blue;
      }

      textarea {
        min-height: 100px;
      }
    }

    .actions {
      margin-top: 25px;
    }
  }
}

.edit-button {
  width: 150px;
  height: 35px;
  text-align: center;
  display: inline-block;
  color: white;
  letter-spacing: 1.5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  font-weight: 400;
  text-transform: uppercase;
  border: 0;
  margin: 5px;
  background-color: $bruinspeak_blue;
}

.prof-icon {
  position: relative;
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.profile-description {
  width: 100%;
  position: relative;
  clear: both;
}

.profile-info {
  text-align: left;
  font-size: 22px;
}

.profile-values {
  font-size:18px;
}

.profile-wrapper {
  padding-top: 35px;
  margin: 10px auto;
  width: 50%;
  text-align: center;
}

.profile-card-list {
  margin: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer
}

.dropdown-content {
  width: 100px;
  display: none;
  position: absolute;
  right: 0;
  left: auto;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  margin-top: 50px;
  z-index: 1;

  @media (max-width: 768px) {
    left: 0;
    right: auto;
  }
}

.dropdown-content.selected {
    display: block;
}

.comment-role-admin {
  color: red;
}

.comment-role-gov {
  color: blue;
}

.dropdown-btn {
  margin-left: 0px;
  margin-bottom: 10px;
}
